*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --columns: 16;
    // --header-height: 8rem;
    --header-height: 11rem;

    --page-padding: 5%;
}

html {
    font-size: 62.5%; // 10/16*100 = 62.5%
    height: 100%;
}

body {
    font-weight: 400;
    box-sizing: border-box;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}