    /* Typescale calculator can be found at https://type-scale.com/*/

:root {
    --base-size: 1.4rem; 
    --type-scale: 1.25; 

    --small: calc(var(--base-size) * var(--type-scale));
    --medium: calc(var(--small) * var(--type-scale));
    --large: calc(var(--medium) * var(--type-scale));
    --x-large: calc(var(--large) * var(--type-scale));
    --xx-large: calc(var(--x-large) * var(--type-scale));

    --tiny: calc(var(--base-size) / var(--type-scale));

    font-family: 'Lato', sans-serif;

    /* JOBS PAGE */

    // Jobs Menu
    --menu-title: 1.6rem;
    --menu-content: 1.3rem;

    // Job Card
    --job-card-title: 1.8rem;
    --job-card-title--featured: 2.2rem;
    @include respond-desktop-medium() {
        --job-card-title--featured: 1.5rem;
    }

    --job-card-content: 1.6rem;
    --job-card-content--featured: 1.5rem;
    @include respond-desktop-medium() {
        --job-card-content--featured: 1.4rem;
    }

    --job-card-location: 1.65rem;
    --job-card-location--featured: 1.7rem;
    @include respond-desktop-medium() {
        --job-card-location--featured: 1.45rem;
    }
    --job-card-wage: 1.65rem;
    --job-card-wage--featured: 1.7rem;
    @include respond-desktop-medium() {
        --job-card-wage--featured: 1.45rem;
    }
    --job-card-extra: 1.65rem;
    --job-card-extra--featured: 1.7rem;
    @include respond-desktop-medium() {
        --job-card-extra--featured: 1.45rem;
    }

    // Jobs Aside
    --blog-title: 1.7rem;
}

