


/* HERO SECTION */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: var(--hero-height);


    &-gradient {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        // background-image: linear-gradient(to bottom right, 
        //     rgba($color-primary-new, .8),
        //     rgba(59, 107, 135, .6),
        //     rgba(64, 113, 144, .5),
        //     rgba(70, 119, 153, .5),
        //     rgba(76, 126, 161, .4),
        //     rgba(82, 132, 170, .4),
        //     rgba(89, 138, 179, .5),
        //     rgba(95, 144, 188, .7)
        // );

        background-image: linear-gradient(to bottom right, 
            rgba($color-primary-new, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4),
            rgba(59, 107, 135, .4)
        );
    }

    &__content {
        position: relative;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        width: 55rem;
        top: 14rem;
        // margin: 0 0 0 var(--page-padding--content);
        margin: 0 0 0 16%;

        @include respond-desktop-large() {
            margin: 0 0 0 14%;
        }

        @include respond-tablet-larger() {
            align-items: center;
            align-self: center;
            text-align: center;
            margin:0;
            width: 50%;
            top: 22%;
        }
    }

    // &__tagline {
    //     font-family: 'rufina', sans-serif;
    //     font-size: 4rem;
    //     font-weight: 400;
    //     color: $color-white;
    // }
    &__tagline {
        font-family: 'rufina', sans-serif;
        font-size: 3.9rem;
        font-weight: 400;
        line-height: 4.5rem;
        color: $color-white;

        @include respond-tablet-medium() {
            font-size: 4rem;
        }

        &--sub {
            font-size: 3.9rem;
            line-height: 4.5rem;
            // font-family: 'lato', sans-serif;
            margin-left: .5rem;

            @include respond-tablet-medium() {
                font-size: 3rem;
            }
        }
    }

    &__description {
        margin-top: 2.5rem;
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: 400;
        font-family: 'lato', sans-serif;

        @include respond-tablet-larger() {
            margin-top: 2rem;
            width: 50rem;
        }
        @include respond-tablet-medium() {
            margin-top: 1rem;
        }
        @include respond-tablet-small() {
            width: 35rem;
            display: none;
        }
    }

    &__divider {
        margin-top: auto;
        width: 100%;
        // height: 1rem;
        background-color: $color-logo;
    }
}

/* CANDIDATE SEARCH SECTION */

.candidate-search {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - var(--hero-height));

  
    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: 8%;

        @include respond-desktop-larger() {
            margin-right: 4%;
        }
        @include respond-desktop-large() {
            margin-right: 3%;
        }
        @include respond-tablet-larger() {
            justify-content: center;
            margin-right: 0;
        }
    }
}

.search {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 1.2rem 1.3rem;
    border: 1px solid #E3E3E3;
    // background-color: white;

    border-radius: 3px ;



    @include respond-tablet-medium() {   
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 3rem .8rem 1.5rem .8rem;
        background-color: white;


    
    }

    @include respond-tablet-small() {
        width: 90%;
    }

    &__field {
        @include respond-tablet-medium() {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-bottom: 1rem;
        }
    }

    &__field:not(:first-of-type) {
        margin-left: 1.2rem;

        @include respond-tablet-medium() {
            margin-left: 0;
        }


    }
 

    &__label {
        font-size: 1.5rem;
        margin-bottom: .8rem;
        // font-weight: bold;
        color: $color-secondary;
        
        @include respond-tablet-medium() {
            flex-basis: 33%;
        }
    }

    &__input {
        font-size: 1.3rem;
        width: 22rem;
        padding: 1rem .4rem;
        border-color: #E3E3E3;

        @include respond-tablet-medium() {
            flex-basis: 66%;
        }

        &:focus {
            border-color: #E3E3E3;
            outline: none;
        }
    }

    // &__search-btn {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 5rem;
    //     height: 3rem;
    //     padding: .4rem;
    //     margin-left: 2rem;
    //     margin-bottom: .2rem;
    //     // border-radius: 50%;
    //     border: 1px solid $color-secondary-highlight;
    //     background-color: $color-logo;
    //     fill: $color-white;
    //     cursor: pointer;
    // }
    // &__search-icon {
    //     height: 2rem;
    //     width: 2rem;
    // }

    &__search-btn {
        display: flex;
        border: 1px solid #E3E3E3;
        background-color: white;
        color: $color-secondary;
        padding: 1.2rem 1.5rem;
        cursor: pointer;

        @include respond-tablet-medium() {
            padding: 1.1rem;
            width: 30%;
            margin-left: auto;

            justify-content: center;
            background-color: $color-about-background;
            // background-color: $color-secondary-highlight;

            color: black;
            // color: white;
        }

        &-wrapper {
            margin-left: 1.5rem;
            margin-top: .5rem;

            @include respond-tablet-medium() {
                width: 90%;
                margin-left: 0;
            }
        }
    }
}

/* ABOUT SECTION */
.about {
    position: relative;
    display: flex;
    background-color: $color-about-background;
    padding-top: 8rem;
    padding-bottom: 10rem;
    margin-top: 4rem;



    @include respond-desktop-medium() {
        padding-top: 5rem;
        padding-bottom: 7rem;
    }

    @include respond-tablet-larger() {
        padding-top: 0;
        padding-bottom: 0;
        // padding moved on to the content element
    }

    @include respond-tablet-medium() {
        margin-top: 0;
    }


    &__background {
        position: absolute;
        content: '';
        top: 0;
        right: 12%;
        height: 100%;

        // @include respond-desktop-larger() {
        //     right: 6%;
        // }

        @include respond-desktop-larger() {
            right: 5%;
        }

        @include respond-desktop-small() {
            right: 4%;
        }

        @include respond-tablet-medium() {
            right: 0;
        }
        
    }
    
    &__gradient {
        @include respond-tablet-larger {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to left, rgba($color-primary-new, .55), rgba($color-primary-new, .1));
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // margin-left: 25rem;
        margin-left: 13%;
        z-index: 1;

       

        @include respond-desktop-larger() {
            margin-left: 10%;
        }

        @include respond-desktop-large() {
            margin-left: 7%;
        }

        @include respond-desktop-medium() {
            margin-left: 9%;
        }
        
        @include respond-desktop-small() {
            // margin-left: 7%;
        }

        @include respond-tablet-larger() {
            background-image: linear-gradient(to right, rgba(255,255,255, .9), rgba(255,255,255, .7));
            width: 100%;
            padding: 5rem 0 7rem 8%;
            margin-left: 0;
        }
        
        @include respond-tablet-medium() {
            // Change to centered design
            align-items: center;
            padding: 5rem 0 7rem 0;
            background-image: linear-gradient(to right, rgba(255,255,255, .9), rgba(255,255,255, .75));
        }


    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        @include respond-desktop-small() {
            margin-bottom: 1rem;
        }
        @include respond-tablet-larger() {
            margin-bottom: 1rem;
        }

        @include respond-tablet-medium() {
            flex-direction: column;
            margin-bottom: 1.5rem;
        }

    }

    &__title {
        font-size: 2.2rem;
        font-weight: 400;
        color: $color-secondary;

        @include respond-desktop-small() {
            font-size: 1.8rem;
        }
        // @include respond-tablet-larger() {
        //     font-size: 1.6rem;
        // }
    }

    &__image {
        height: 4rem;
        width: 4rem;
        margin-right: 3rem;

        @include respond-desktop-small() {
            height: 3rem;
            width: 3rem;
            margin-right: 2rem;
        }
        @include respond-tablet-medium() {
            margin-bottom: 1rem;
        }
    }

    &__description {
        width: 60rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-left: 5.5rem;
        margin-bottom: 3.5rem;

 
        @include respond-desktop-small() {
            width: 54rem;
            font-size: 1.5rem;
            line-height: 2.6rem;
            margin-bottom: 2rem;
        }

   
        @include respond-tablet-medium() {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            width: 50rem;
            margin-bottom: 3rem;
            line-height: 2.8rem;
        }
        @include respond-tablet-small() {
            width: 40rem;
        }
    }
    // Button wrapper found in components/buttons.scss

    .roles {
        padding: 0 2rem 0 0;
    
        // @include respond-desktop-small() {
        //     margin-bottom: 2.5rem;
        // }
    
        &__list {
            display: flex;
            align-items: center;
            margin-left: 4.5rem;
    
           
            @include respond-tablet-medium() {
                margin-left: 0;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color: $color-secondary;
            cursor: pointer;
    
            @include respond-desktop-small() {
                font-size: 1.4rem;
            }

            // @include respond-phone() {
            //     font-size: 1.5rem;
            // }
        }
        &__item:not(:first-of-type) {
            margin-left: 2rem;
            // @include respond-desktop-large() {
            //     margin-left: 0;
            // }
            // @include respond-desktop-small() {
            //     margin-left: 2rem;
            // }
 
        }
        &__item:not(:last-of-type) {
            margin-right: 2rem;
            // @include respond-desktop-large() {
            //     margin-right: 0;
            //     margin-bottom: .7rem;
            // }
            // @include respond-desktop-small(){
            //     margin-right: 2rem;
            //     margin-bottom: 0;
            // }

        }
        &__divider {
            border-left: 1px solid $color-primary;
            height: 2rem;
    
            // @include respond-desktop-large() {
            //     height: 0;
            //     border-left: none;
            // }
            // @include respond-desktop-small() {
            //     border-left: 1px solid $color-primary;
            //     height: 2rem;
            // }
        }
    
        &__icon {
            display: flex;
            fill: $color-text-primary;
        }
    
        &__id-card {
            height: 2.5rem;
            width: 3.4rem;
            margin-right: 1.2rem;
            @include respond-desktop-large() {
                width: 3rem;
                margin-right: 1.2rem;
            }
        }
        &__interim {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: .8rem;

     
    
            // @include respond-desktop-large() {
            //     margin-right: 1.7rem;
            // }
        
        }
        &__location {
            height: 2.3rem;
            width: 2.3rem;
            margin-right: .8rem;
    
            @include respond-desktop-large() {
                margin-top: .2rem;
            }
        }
    }
}

/* FEATURED JOBS SECTION */
// Card styling in _job-card.scss
.featured-jobs {
    position: relative;

    padding-top: $padding-section--m;
    padding-bottom: $padding-section--l;


    @include respond-tablet-larger() {
        padding-top: $padding-section--m;
        padding-bottom: $padding-section;
    }


    &__header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4rem;
        @include respond-tablet-larger() { 
            margin-bottom: 5rem; 
            order: 1;
        }
    }
    &__title {
        display: flex;
        align-self: flex-end;
        font-size: 2.2rem;
        font-weight: 400;
        color: $color-secondary;


    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 var(--page-padding--l);

        @include respond-desktop-larger() {
            padding: 0 var(--page-padding--m);
        }
        @include respond-desktop-large() {
            padding: 0 var(--page-padding--s);
        }
        @include respond-desktop-medium() {
            padding: 0 var(--page-padding--xs);
        }
        @include respond-tablet-larger() {
            align-items: center;
        }
    }

    &__jobs-list {
        position: relative;
        height: $height-job-card--featured;
        width: 100%;


        @include respond-tablet-larger() {
            flex-direction: column;
            height: 70rem;

            order: 2;
        }
        @include respond-tablet-small() {
            height: 63rem;
        }

    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        @include respond-tablet-larger() {
            width: 65rem;
            align-items: center;
            justify-content: space-between;
            order: 3;
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
        @include respond-tablet-medium() {
            width: 92%;
        }

    }
    &__play-wrapper { 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-basis: 33%; 
    }

    &__nav-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;

        @include respond-tablet-larger() {
            justify-content: flex-start;
        }
    }
    &__dummy {
        flex-basis: 33%;
        @include respond-tablet-larger() {
            display: none;
        }
    }
    &__prev-btn, &__next-btn {
        display: flex;
        background-color: white;
        cursor: pointer;
    }
    &__prev-btn { margin-right: 1.5rem }
    &__next-btn { margin-left: 1.5rem }

    &__prev-svg, &__next-svg {
        height: 2.5rem;
        width: 2.5rem;
    }

    &__next-svg {
        transform: rotate(180deg);
    }

    &__dot {
        height: 1.3rem;
        width: 1.3rem;
        background-color: $color-secondary;
        border-radius: 100%;
        cursor: pointer;

        &:not(&-0) {
            margin-left: 1.5rem;
        }

        &--active {
            transform: scale(1.4);
            background-color: white;
            border: 2px solid $color-secondary;
        }
    }

    &__slide {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        opacity: 0;

        @include respond-tablet-larger() {
            flex-direction: column;
            align-items:center;
        }
    }

    &__progress {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .5rem;
        background-color: $color-secondary-highlight;
    }
    &__bar {
        width: 100%;
        height: .5rem;
        background-color: $color-primary-new;
    }

    // https://codepen.io/havardob/pen/RajdNR
    // CHECKBOX-STYLING
    // Label used as "wrapper" for the checkbox 
    &__play-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 1rem 1.5rem;
        width: 18rem;
        border-top: 1px solid #BBB;
        font-size: 1.6rem;

        &:last-child {
            border-bottom: 1px solid #BBB;
        }
        
        // Hide the ugly checkbox
        > input {
            display: none;
        }

        // New beautiful checkbox
        i {
            display: inline-block;
            float: right;
            padding: .2rem;
            width: 3.8rem;
            height: 2rem;
            border-radius: 13px;
            vertical-align: middle;
            transition: .25s .09s;
            position: relative;
            background: #d8d9db;
            box-sizing: initial;
                &:after {
                    // border:1px solid red;
                content: " ";
                display: block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                left: 2px;
                transition: .25s;
                }
        }
            
        // Checked-state
        > input:checked + i {
            background: $color-primary-new;
        }
        
        > input:checked + i:after {
            transform: translateX(1.8rem);
        }
        
        // Label-hover
        &:hover {
            cursor: pointer;
        }
    } 
}

/* WHY US SECTION */

.why-us {
    display: flex;
    flex-direction: column;
    padding-top: $padding-section--m;
    padding-bottom: $padding-section--l;
    padding-left: var(--page-padding--m);
    padding-right: var(--page-padding--m);

    background-color: $color-background;

    @include respond-desktop-larger() {
        padding:  $padding-section--m var(--page-padding--s) $padding-section--l var(--page-padding--s);
    }

    // @TODO: change to either sass or css vars
    @include respond-desktop-large() {
        padding: $padding-section--m var(--page-padding--s) $padding-section--l var(--page-padding--s) ;
    }
    @include respond-desktop-medium() {
        padding: $padding-section--m var(--page-padding--m) $padding-section--l var(--page-padding--m) ;
    }

    &__title {
        text-align: center;
        margin-bottom: 6rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: $color-secondary;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        // flex-direction: column;

        // homeView.js initWhyUsSection() adds another element
        // 1x3 => 2x2 layout
        @include respond-desktop-large() {
            flex-flow: row wrap;
        }
    }
}

.why-card__wrapper {
    display: flex;
    justify-content: flex-start;

    &:nth-child(odd) {
        justify-content: flex-end;

        @include respond-tablet-larger() {  
            justify-content: center;
        }
    }

    // 1x3 => 2x2 layout
    @include respond-desktop-large() {
        width: 48%;    
        margin: 1%;    
    }
    @include respond-tablet-larger() {
        width: 100%;
        margin: 0;
        justify-content: center;
    }
}
.why-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--why-card-width);
    padding: 5rem;
    background-color: white;
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;

    @include respond-tablet-larger() {  
        margin-bottom: 3rem;
    }

    &__background {
        position: absolute;
        top: 0;
        left: -25%;
        height: 100%;
    }

    // The bar is the animation overlay
    &__bar {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            to bottom right,
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            
            rgba(54,101,127, .88),
            );

        z-index: 100;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--header {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-image:  linear-gradient(
        //     to bottom right,
        //     rgba(54,101,127, .85),
        //     rgba(54,101,127, .85),
        //     rgba(54,101,127, .85),
        //     rgba(54,101,127, .85),
            
        //     rgba(54,101,127, .8),
        //     ), url('/src/assets/work-with-us.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: 50%;

        font-size: 2rem;
        color: whitesmoke;

        @include respond-tablet-larger() {  
            background-position: 50% 15%;
        }
    }

    &__btn-wrapper {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        top: 25%;
        z-index: 100;
    }
    &__browse-btn, &__contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 5rem;
        margin: 3.6rem;
        border: 1px solid rgba(0, 0, 0, 0);
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0);

        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: pointer;
    }

    &__image {
        // position:relative;
        height: 20rem;
        width: 20rem;
        margin-bottom: 3rem;

        border-radius: 100%;
        border: 1px solid #0000001a;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &-1, &-3 {
            background-image: url('/src/assets/select.png');
        }

        &-2 {
            background-image: url('/src/assets/jj.jpg');
        }
    }
    
    &__title {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-secondary;
    }

    &__text {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;
        text-align: center;
    }
}

/* TESTIMONIAL SECTION */
.testimonials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;

    &-gradient {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(
            to bottom right,
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            rgba(54,101,127, .88),
            
            rgba(54,101,127, .88),
            );
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20rem;
        width: 80rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        z-index: 1;

        
        font-family: Georgia, serif;
        font-size: 2.5rem;
        font-style: italic;
        margin: 0.25em 0;
        padding: 0 7rem;
        line-height: 1.45;
        position: relative;
        color: whitesmoke;

        @include respond-tablet-larger() {
            width: 55rem;
            height: 18rem;
            font-size: 2rem;
            padding: 0 6rem;
        }
        @include respond-tablet-small() {
            width: 80%;
            height: auto;
            padding: 2rem 4rem;
        }
    }
    &__quote {
        position: relative;
        margin-top: 1rem;

        &:before {
            display: block;
            padding-left: 1rem;
            content: "\201C";
            font-size: 8rem;
            position: absolute;
            left: -6rem;
            top: -3rem;
            color: whitesmoke;

            @include respond-tablet-larger {
                font-size: 6rem;
                left: -5rem;
            }
        }  
    }
 
    &__cite {
        color: $color-secondary-highlight;
        align-self: flex-end;
        font-size: 2.3rem;
        font-weight: 700;
        display: block;
        margin-top: 5px;

        @include respond-tablet-larger {
            font-size: 1.8rem;
            margin-top: 2rem;
        }
    }
}

.testimonial {
    display: flex;
    align-items: flex-end;
    width: 40rem;
    padding: 5rem 2rem 3.5rem 2rem;
    background-color: white;

    &-3 {
        @include respond-desktop-medium() {
            display: none;
        }
    }

    &-2 {
        @include respond-tablet-larger() {
            display: none;
        }
    }
    &:not(:first-of-type) {
        margin-left: 5rem;
    }

    &__image {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        border: 2px solid #0000001a;

        &-1{
            background-image: url('/src/assets/julian.jpg');
            background-size:cover;
        }
        &-2 {
            background-image: url('/src/assets/fi.jpg');
            background-size: cover;
        }
        &-3 {
            background-image: url('/src/assets/rumbo.jpg');
            background-size: cover;
        }
    }

    &__details {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
    
    &__name {
        font-size: 1.4rem;
    }

    &__company {
        font-size: 1.8rem;
        color: $color-secondary;
    }
    &__highlight {
        height: 2rem;
        width: 100%;
        background-color: $color-secondary;
    }
}



