


/* HERO SECTION */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: var(--hero-height);

    &__content {

        position: relative;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        width: 35rem;
        top: 24%;
        margin: 0 0 0 var(--page-padding--l);
    }

    &__tagline {
        font-family: 'rufina', sans-serif;
        font-size: 4rem;
        font-weight: 400;
        color: $color-white;
    }

    &__divider {
        margin-top: auto;
        width: 100%;
        height: 3rem;
        background-color: $color-logo;
    }
}

/* CANDIDATE SEARCH SECTION */

.candidate-search {
    display: flex;
    align-items: center;
    height: calc(100% - var(--hero-height));


    @include respond-desktop-vsmall() {
        justify-content: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 var(--page-padding--content) 0 var(--page-padding--content);
        
        @include respond-desktop-large() {
            margin: 0 var(--page-padding--l) 0 var(--page-padding--l);
        }
        @include respond-desktop-vsmall() {
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            margin: 0;
        }
    }
}

.roles {
    padding: 0 2rem 0 0;
    

    @include respond-desktop-vsmall() {
        margin-bottom: 2.5rem;
    }
    &__title {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        color: $color-text-primary;

        @include respond-desktop-medium() {
            margin-bottom: 1rem;
        }
        @include respond-desktop-vsmall() {
            display: flex;
            // justify-content: center;
            margin-bottom: 1.5rem;
        }
        @include respond-phone() {
            font-size: 1.6rem;
        }
    }
    &__list {
        display: flex;
        align-items: center;

        @include respond-desktop-medium() {
            flex-direction: column;
            align-items: flex-start;
        }
        @include respond-desktop-vsmall() {
            flex-direction: row;
            align-items: center;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: $color-secondary;
        cursor: pointer;

        @include respond-phone() {
            font-size: 1.5rem;
        }
    }
    &__item:not(:first-of-type) {
        margin-left: 2rem;
        @include respond-desktop-medium() {
            margin-left: 0;
        }
        @include respond-desktop-vsmall() {
            margin-left: 2rem;
        }
    }
    &__item:not(:last-of-type) {
        margin-right: 2rem;
        @include respond-desktop-medium() {
            margin-right: 0;
            margin-bottom: .7rem;
        }
        @include respond-desktop-vsmall(){
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }
    &__divider {
        border-left: 1px solid $color-primary;
        height: 2rem;

        @include respond-desktop-medium() {
            height: 0;
            border-left: none;
        }
        @include respond-desktop-vsmall() {
            border-left: 1px solid $color-primary;
            height: 2rem;
        }
    }

    &__icon {
        display: flex;
        fill: $color-text-primary;
    }

    &__id-card {
        height: 2.5rem;
        width: 3.4rem;
        margin-right: 1.2rem;
        @include respond-desktop-medium() {
            width: 3rem;
            margin-right: 1.2rem;
        }
    }
    &__interim {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: .8rem;

        @include respond-desktop-medium() {
            margin-right: 1.7rem;
        }
    
    }
    &__location {
        height: 2.3rem;
        width: 2.3rem;
        margin-right: .4rem;

        @include respond-desktop-medium() {
            margin-right: 1.9rem;
            margin-top: .2rem;
        }
    }
}

.search {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 1.3rem 2rem;
    border: 1px solid #E3E3E3;
    border-radius: 3px ;
    background-color: $color-background;

    &__field:not(:first-of-type) {
        margin-left: 2rem;

        @include respond-phone() {
            margin-left: 0;
        }
    }
    &__field:not(:last-of-type) {
        @include respond-phone() {
            margin-bottom: 1rem;
        }
    }

    &__label {
        font-size: 1.3rem;
        margin-bottom: .7rem;
    }

    &__input {
        width: 20rem;
        padding: .6rem .4rem;
        border-color: #E3E3E3;

        &:focus {
            border-color: #E3E3E3;
            outline: none;
        }

        @include respond-phone() {
            width: 100%;
        }
    }

    &__search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 3rem;
        padding: .4rem;
        margin-left: 2rem;
        margin-bottom: .2rem;
        // border-radius: 50%;
        border: 1px solid $color-secondary-highlight;
        background-color: $color-logo;
        fill: $color-white;
        cursor: pointer;
    }
    &__search-icon {
        height: 2rem;
        width: 2rem;
    }

    @include respond-desktop-medium() {
        align-self: flex-end;
    }
    @include respond-desktop-vsmall() {
        align-self: auto;
    }
    @include respond-phone() {
        flex-direction: column;
        width: 100%;
        padding: 2.5rem 2.5rem;

    }
}

/* ABOUT SECTION */
.about {
    display: flex;
    background-color: $color-background;
    padding-top: $padding-section--m;
    padding-bottom: $padding-section--m;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 3.5rem;

    }

    &__title {
        font-size: 2.2rem;
        font-weight: 400;
        color: $color-secondary;

        @include respond-desktop-vsmall() {
            font-size: 2rem;
        }
    }

    &__image {
        height: 4rem;
        width: 4rem;
        margin-right: 3rem;
    }

    &__description {
        width: 100rem;
        font-size: 1.8rem;
        line-height: 3.5rem;
        text-align: center;

        @include respond-desktop-small() {
            width: 90rem;
        }
        @include respond-desktop-vsmall() {
            width: 85rem;
            font-size: 1.7rem;
        }
        @include respond-tablet() {
            width: 70rem;
            font-size: 1.65rem;
            line-height: 2.8rem;
        }
        @include respond-tablet-small() {
            width: 55rem;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
    // Button wrapper found in components/buttons.scss
}

/* FEATURED JOBS SECTION */
// Card styling in _job-card.scss
.featured-jobs {
    position: relative;
    padding-top: $padding-section--m;
    padding-bottom: $padding-section--l;

    &__header {
        margin-bottom: 4rem;
    }
    &__title {
        font-size: 2.2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 var(--page-padding--l);

        @include respond-desktop-large() {
            padding: 0 var(--page-padding--s);
        }
        @include respond-desktop-small() {
            padding: 0 var(--page-padding--m);
        }
        @include respond-tablet() {
            padding: 0 5rem;

        }
        @include respond-tablet-small() {
            align-items: center;
        }
        
    }

    &__jobs-list {
        position: relative;
        height: $height-job-card--featured;

        // display: flex;
        // justify-content: space-between;
        // @include respond-desktop-small() {
        //     justify-content: space-around;
        // }
        // @include respond-tablet-small() {
        //     flex-direction: column;
        // }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

    }
    &__play-label {
        position: relative;
        display: flex;
        height: 100%;
        flex-basis: 33%;

    }
    &__nav-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
    }
    &__dummy {
        flex-basis: 33%;
    }
    &__prev-btn, &__next-btn {
        display: flex;
        background-color: white;
        cursor: pointer;
    }
    &__prev-btn { margin-right: 1.5rem }
    &__next-btn { margin-left: 1.5rem }

    &__prev-svg, &__next-svg {
        height: 2.5rem;
        width: 2.5rem;
    }

    &__next-svg {
        transform: rotate(180deg);
    }

    &__checkbox {
        height: 1.3rem;
        width: 1.3rem;
        background-color: $color-secondary;
        border-radius: 100%;
        cursor: pointer;

        &:not(&-0) {
            margin-left: 1.5rem;
        }
    }

    &__slide {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__progress {
        position: absolute;
        bottom: 0;
        height: 1rem;
        background-color: $color-primary-new;
    }
}

/* WHY US SECTION */
.why-us {
    // why-us section layout defined in _page-grid.scss
    display: flex;
    flex-flow: row wrap;
    padding-top: $padding-section--m;
    padding-bottom: $padding-section--l;
    padding-left: var(--page-padding--m);
    padding-right: var(--page-padding--m);

    background-color: $color-background;

    // @TODO: change to either sass or css vars
    @include respond-desktop-medium() {
        padding: $padding-section--m var(--page-padding--s) $padding-section--l var(--page-padding--s) ;
    }
    @include respond-desktop-small() {
        padding: $padding-section--m var(--page-padding--m) $padding-section--l var(--page-padding--m) ;
    }


    &__title {
        text-align: center;
        margin-bottom: 6rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: $color-secondary;
    }
}

// The wrappers are given grid widths, the cards stay centered at a fixed width
.why-card__wrapper {
    display: flex;
    justify-content: center;


}
.why-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    padding: 5rem;
    background-color: white;
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    
    &:not(:last-of-type) {
        margin-bottom: 10rem;

    }

    &__image {
        position:relative;
        height: 20rem;
        width: 20rem;
        margin-bottom: 3rem;

        border-radius: 100%;
        border: 1px solid #0000001a;
        background-image: url('/src/assets/select.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &-2 {
            background-image: url('/src/assets/jj.jpg');

        }
    }
    
    &__title {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-secondary;
    }

    &__text {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;
        text-align: center;
    }
}

/* TESTIMONIAL SECTION */
.testimonials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__cards {
        display: flex;
        justify-content: center;
    }

    &__quote {
        position: absolute;
        display: flex;
        align-items: center;
        top: -8rem;
        width: 80rem;
        height: 10rem;
        padding: 3rem;
        background-color: $color-logo;
        font-size: 1.6rem;
        color: $color-white;

        @include respond-desktop-small() {
            width:70rem;
        }

        @include respond-tablet() {
            left: 8rem;
            top: -13rem;
            width: 40rem;
            height: auto;
        }
    
        &-triangle {
            position: absolute;
            bottom: -1.5rem;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $color-logo;
        }
    }
}

.testimonial {
    display: flex;
    align-items: flex-end;
    width: 40rem;
    padding: 5rem 2rem 3.5rem 2rem;
    background-color: white;

    &-3 {
        @include respond-desktop-small() {
            display: none;
        }
    }

    &-2 {
        @include respond-tablet() {
            display: none;
        }
    }
    &:not(:first-of-type) {
        margin-left: 5rem;
    }

    &__image {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        border: 2px solid #0000001a;

        &-1{
            background-image: url('/src/assets/julian.jpg');
            background-size:cover;
        }
        &-2 {
            background-image: url('/src/assets/fi.jpg');
            background-size: cover;
        }
        &-3 {
            background-image: url('/src/assets/rumbo.jpg');
            background-size: cover;
        }
    }

    &__details {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
    
    &__name {
        font-size: 1.4rem;
    }

    &__company {
        font-size: 1.8rem;
        color: $color-secondary;
    }
    &__highlight {
        height: 2rem;
        width: 100%;
        background-color: $color-secondary;
    }
}



