
.jobs__main {
    // --job-card-width: 42rem;

    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    min-height: 100%;
    background-color: rgb(245, 247, 250);

    flex-direction: column;
    align-content: center;
    

}

/*** Column 1 (Menu) ***/
.jobs__menu-wrapper {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-logo;
    // min-height: calc(100vh - var(--header-height));
    z-index: 99;

    // @include respond-desktop-large() {
        min-height: auto;  
        width: 100%; 
        background-color: rgb(245, 247, 250);
    // }
    @include respond-tablet-small() {
        position: relative;
        display: flex;
    }
}

.jobs-menu {
    display: flex;
 
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--jobs-menu-height);
    padding-left: 3.5rem;
    padding-top: 0;

    fill: $color-secondary-highlight;

    z-index: 100;

    @include respond-desktop-small() {
        justify-content: center;
        padding-left: 0;
    }
    @include respond-tablet-small() {
        flex-direction: column;
        height: auto;
        
    }
    
    &__item-wrapper {
        position: relative;
        border: 1px solid #d4d4d5;
        background-color: white;

        &:not(:first-of-type) {
            margin-left: 2.5rem;

            @include respond-tablet-medium() {
                margin-left: .6rem;
            }
            @include respond-tablet-small() {
                margin-left: 0;
            }
        }
        @include respond-tablet-small() {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border: none;
            border-top: 1px solid #d4d4d5;
            
            &:last-of-type {
                border-bottom: 1px solid #d4d4d5;
            }
        }

        &--active {
            background-color: $color-primary-new;
        }
    }

    &__item {
        position: relative;
        
        display: flex;
        justify-content: center;
        width: 16rem;
        height: 5rem;
        cursor: pointer;

        @include respond-tablet-medium() {
            width: 15rem;
        }
        @include respond-tablet-small() {
            width: 12rem;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        padding: 0;
        transform: translateX(-1rem);

        font-size: 1.6rem;
        color: $color-secondary;
        fill: $color-primary-new;
      
        @include respond-tablet-small() {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            transform: none;
        }

        &--active {
            color: white;
            fill: $color-secondary-highlight;
        }
    }   
    &__title-text{
        margin-left: 1rem;
        transform: translateY(-1px);
      
        @include respond-tablet-small() {
            margin-left: 2rem;
        }
    }
    &__title-icon {
        height: 2rem;
        width: 2rem;

        &--active {
            transform:rotate(90deg);
        }
    }
    
    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-secondary-highlight;
        font-size: var(--tiny);
        width: 2rem;
        height: 1.7rem;
        border-radius: 20%;
        margin-left: auto;
        display: none;
    }
    
    &__content-wrapper {
        position: absolute;
        top: calc(100% + 1rem);
        pointer-events: none;
        overflow: hidden;

        @include respond-tablet-small() {
            position: relative;

            top: auto;
            width: 100%;
            height: 0;
        }

        &--titles {
            left: -1px;
        }
        &--locations {
            @include respond-desktop-small() {
                right: calc(-2.5rem - 16.3rem);
            }
            @include respond-tablet-medium() {
                right: calc(-.6rem - 15.3rem);
            }
            @include respond-tablet-small() {
                right: auto;

            }
        }
        &--type {
            @include respond-desktop-small() {
                right: 0;
            }        
            @include respond-tablet-small() {
                right: auto;
            }
            @include respond-tablet-small() {
                right: auto;

            }
        }
    }

    &__content {

        // BUG in flexbox: Won't expand container for flex-flow: column wrap
        // Use single column with scroll bars if grid not supported

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        opacity: 0;
        overflow: auto;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, auto);
        column-gap: 4rem;
        row-gap: 1rem;

        font-size: 1.6rem;

        padding: 2.5rem 2.8rem 3rem 2rem;
        background-color: white;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        margin: 2px;

        z-index: 1;

        &--salaries {
            grid-auto-flow: column;
            grid-template-rows: repeat(6, auto);
            column-gap: 4rem;
            padding: 2.5rem 2rem 3rem 2rem;
        }

        @include respond-tablet-small() {
            margin: 0;
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            opacity: 1;
        }

        &--titles {
            @include respond-desktop-small() {
                grid-template-columns: repeat(1, auto);

            }
        }
    }
    &__loading {
        display: none;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;

        color: $color-secondary;
        
    }

    &__description {
        display: flex;
        width: max-content;
        margin-left: 2rem;
    }
}



/*** Column 2 (Grid) ***/

.tags-wrapper {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    height: 0;
    overflow: hidden;
    align-items: flex-start;
    margin-bottom: 1rem;
    // border:1px solid red;
}

.tags-header {
    display: flex;
    align-items: center;
    padding: .5rem;
}
.tags-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    // border: 1px solid red;
    // transition: height .5s;
}


.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    cursor: pointer;

    &:hover {
        .tag__close-icon {
            fill:red;
        }
        .tag__text {
            text-decoration:underline;
        }
    }

    &__text {
        color: $color-secondary;
        font-size: 1.3rem;
        padding-right: .3rem;
    }

    &__close-icon {
        height: 1.5rem;
        width: 1.5rem;
        // padding: .1rem;
        margin-right: .5rem;
        fill: $color-primary-new;
        // fill: white;
        // background-color: white;
        border-radius: 50%;
    }
}

.sort-wrapper {
    display: flex;
    align-items: center;
    height: var(--item-height);
}

.search-wrapper {
    display: flex;
}
.search-input {
    padding: .8rem 0;
    font-size: inherit;
    font-family: inherit;
    color: $color-secondary;
    width: 25rem;
}

.search-input--location, .search-input--title {
    text-align: end;
    padding-right: 1.5rem;
    border: 1px solid #d4d4d5;
}

.input-wrapper { 
    position: relative; 
    font-size: 1.5rem;
}
.input-wrapper--title {
    margin-left: 1.5rem;
}
.autocomplete-items {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #d4d4d5;
    background-color: white;
    z-index: 1;
    max-height: 40rem;
    overflow-y: auto;
}
.autocomplete-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 0;
    padding-right: 1.5rem;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: $color-primary-new;
    color: #ffffff;

  }
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: $color-primary-new;
    color: #ffffff;
}

.sort {
    width: 15rem;
    // height: 3rem;
    margin-left: 1rem;
    border: 1px solid #d4d4d5;
    padding: .8rem 1rem;
    // font-size: inherit;
    font-family: inherit;
    color: $color-secondary;

    &:focus {

    }

}

// .list-btn { margin-left: 1rem; }
.list-btn, .grid-btn{
    padding: 1rem;
    background-color: $color-background;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    fill: grey;        
}
.grid-icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
}

.jobs__content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    // margin-top: .1rem;
    // width: 100%;
    // border: 1px solid green;
}


.jobs__controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 8rem;

    padding-left: 2rem;
    padding-right: 3rem;

    // background: #d4d4d5;
    border: none;
    border: 1px solid #d4d4d5;
    // box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.jobs__wrapper {
    // display: flex;
    // padding-top: 5rem;
    // padding-bottom: 10rem;
    max-width: 132rem;

    // @include respond-desktop-large() {
        display: flex; 
        justify-content: center;
        padding-top: 0;
        margin-top: var(--jobs-menu-height);
    // }
    @include respond-desktop-small() {
        width: 60%; 
    }
    @include respond-tablet-small() {
        width: 100%;
        margin-top: 0;
    }
}

.jobs__grid {
    // flex-flow: row wrap;
    display: grid;
    grid-template-columns: repeat(2, 65rem);
    row-gap: 2.5rem; 
    column-gap: 2.8rem; 
    justify-items: center;
    margin-top: 2.5rem; 
    @include respond-desktop-small() {
        display: flex;
        flex-direction: column;    
    }
}

// .jobs__aside {
//     display: flex;
//     flex-flow: row wrap;
//     align-content: flex-start;
//     justify-content: center;

//     width: 100%;
// }

// .jobs__blog-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 5rem;
//     color: $color-secondary;
//     background-color: lightgray;
//     font-size: var(--blog-title);
//     font-weight: 700;
//     margin-bottom: 1.5rem;
// }
// .article {
//     display: flex;

//     // height: 30rem;
//     width: 50%;
//     margin-bottom: 2rem;
//     background-color: rgb(255, 255, 255);

//     &__image {
//         width: 20rem;
//     }
// }


