/* COLOURS */
// Common Colours
// $color-logo: rgb(102, 124, 148);

$color-logo: #36657f;
$color-primary: rgb(91, 118, 139); 
// $color-primary-new: #36657f;
$color-primary-new: #36657f;
$color-secondary: rgb(117,53,53);
// $color-secondary-highlight: rgb(218, 210, 166);
// $color-secondary-highlight: rgb(139, 187, 190);
// $color-secondary-highlight: rgb(179, 208, 228);
$color-secondary-highlight: rgb(154, 191, 216);
$color-background: rgb(245, 247, 250);
$color-about-background: #dde4ec;

$color-white: rgb(233, 233, 233);

// Text Colours
$color-text-primary: rgb(19, 39, 54);

// Jobs Colours
$color-jobs-background: rgb(172, 193, 212);
$color-menu-item: rgb(246, 247, 249);


/* HEIGHT */
$height-logo: 4rem;
$height-hero: 75%;
$height-job-card--featured: 33rem;

/* WIDTH */

// @TODO: 2 types of padding (css variables and sass vars)
/* PADDING */
$padding-page: 5rem;
$padding-section: 5rem;
$padding-section--m: 10rem;
$padding-section--l: 12rem;
$padding-section--xl: 15rem;
$padding-mobile-li: 2rem;

/* MARGINS */
