/* COLOURS */
$color-primary: rgb(91, 118, 139); 
$color-navigation: rgb(117,53,53);
// $color-navigation-highlight: rgb(218, 210, 166);
// $color-navigation-highlight: rgb(139, 187, 190);
// $color-navigation-highlight: rgb(179, 208, 228);
$color-navigation-highlight: rgb(154, 191, 216);


$color-logo: rgb(102, 124, 148);
$color-jobs-background: rgb(238, 238, 238);

/* HEIGHT */


/* WIDTH */

/* PADDING */
$padding-page: 5rem;
$padding-section: 3rem;
$padding-mobile-li: 2rem;

/* MARGINS */
