/* COLOURS */
$color-primary: rgb(91, 118, 139); 
$color-navigation: rgb(117,53,53);
$color-jobs-background: rgb(228, 228, 228);

/* HEIGHT */

/* PADDING */
$padding-page: 5rem;
$padding-section: 3rem;
$padding-mobile-li: 2rem;

/* MARGINS */
