.alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 6rem;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: white;
    &--error {
        border: 1px solid lightgrey;
    }
    &--success {
        border: 1px solid lightgrey;
    }

    &-wrapper {
        position: absolute;

        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 4rem;
        left: 0;
        right:0;
        
        background-color: rgba(255,255,255, 1);
        // border-bottom: 1px solid lightgray; 
        z-index: 101;

        &--new-job {
            position: relative;
            width: 100%;
            transform: translateY(-6px);
        }
        &--new-company, &--edit-company, &--new-contact, &--edit-contact, &--new-address, &--edit-address {
            grid-column: 2/3;
            // grid-row: 4/5;
            grid-row-end: 4;
            align-self: end;
            // bottom: 1rem;
        }

        &--hidden {
            // visibility: hidden;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;   
        // border-radius: 100%;
        
        &--success {
            background-color: #2ecc71;
        }
        &--error {
            background-color: firebrick;
        }
    }
    &__svg {
        height: 3rem;
        width: 3rem;
        fill: white;
        transform: translateY(-2px);
        // border-radius: 100%;

        &--success {
            height: 5rem;
            width: 5rem;
            transform: translateY(1px)
            // border: 1px solid white;
            
        }
        &--error {
            // border: 1px solid white;
        }
    }
    
    &__content {
        padding: 2rem 4rem 2rem 3rem;
    }

    &__status {
        font-weight: bold;
        margin-right: 2rem;
    }

    // &__message {
    //     // flex-grow: 1;
    // }
    // &__controls {
    //     padding: 0 4rem;
    //     cursor: pointer;
    // }
}