// Some reset styles in base.scss

.btn {
    padding: 1.2rem 2rem;
    cursor: pointer;
}

.btn-wrapper {
    &--hero {
        margin-top: 2.5rem;
    }

    &--about {
        margin-top: 4rem;
        @include respond-desktop-medium() {
            margin-top: 5rem;
        }
    }

    &--admin {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.signup-btn {
    &--hero {
        margin-right: 2rem;
        color: $color-white;
        background-color: $color-secondary;
        font-size: 1.5rem;
    }

    &--about {
        margin-left: 2rem;
        color: $color-white;
        background-color: $color-secondary;
        font-size: 1.5rem;
    }
}

.browse-btn {
    &--hero {
        color: $color-white;
        background: $color-logo;
        font-size: 1.5rem;
    }
}

.cancel-btn {
    &--warn {
        margin-left: 2rem;
    }
}

.contact-btn {
    &--about {
        color: $color-white;
        background: $color-logo;
        font-size: 1.5rem;
    }
}

.create-job-btn {
    color: $color-white;
    background: $color-logo;
    font-size: 1.5rem;
}

.create-user-btn, .create-job-btn {
    color: $color-white;
    background-color: $color-secondary;
    font-size: 1.5rem;
}

.edit-btn {
    &--table {
        display: flex;
        margin-left: auto;
        width: 3rem;
        height: 3rem;
        fill: $color-primary;
        cursor: pointer;
    }
}
.delete-btn {
    &--table {
        display: flex;
        margin-left: auto;
        width: 3rem;
        height: 3rem;
        fill: $color-secondary;
        cursor: pointer;

    }
    &--warn {
        color: $color-white;
        background-color: $color-secondary;
    }
}
.cv-btn {
    &--table {
        display: flex;
        width: 4rem;
        height: 4rem;
        fill: $color-logo;
        cursor: pointer;
    }
}
.hubspot-add-btn {
    display: flex;
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    fill: $color-secondary;
    cursor: pointer;
}