// Some reset styles in base.scss

.btn {
    padding: 1.2rem 2rem;
    cursor: pointer;
}

.btn-wrapper {
    &--hero {
        display: flex;
        margin-top: 3.5rem;
        justify-content: flex-start;

        @include respond-tablet-larger() {
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
        }
        @include respond-tablet-small() {
            margin-top: 2rem;
        }
        @include respond-phone-large() {
            margin-top: 2.5rem;
        }
        @include respond-phone-medium() {
            // margin-top: 2.4rem;
        }
        @include respond-phone-small() {
            margin-top: 1.8rem;
        }
    }

    &--about {
        margin-top: 4rem;
        @include respond-desktop-medium() {
            margin-top: 5rem;
        }
    }

    &--admin {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.signup-btn {

    &--hero {
        margin-right: 2.5rem;
        // color: $color-secondary;
        color: white;
        background-color: rgba($color-secondary, .9);
        border: 2px solid $color-secondary;
        font-size: 1.7rem;
        font-weight: 400;

        @include respond-tablet-larger() {
            margin: 0;
        }

        @include respond-tablet-medium() {
            font-size: 1.5rem;

            padding: 1rem 1.7rem;
        }
        @include respond-phone-large() {
            font-size: 1.4rem; 
        }
        @include respond-phone-medium() {
            font-size: 1.4rem;
        }
        @include respond-phone-small() {
            font-size: 1.1rem;
            // padding: .8rem 1.4rem;

        }

    }
}

.browse-btn {
    &--hero {
        position: relative;
        margin-right: 2rem;
        color: $color-secondary;
        background-color: transparent;

        color: white;
        font-size: 1.8rem;
        font-family: inherit;
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: .2rem;
        color: #e9e9e9;

        &::after {
            position: absolute;
            display: flex;
            align-items: center;
            content: '\2192';
            
            bottom: 0;
            left: 100%;
            height: 100%;
            transform: translateX(-5px);

            @include respond-phone-medium() {
                display: none;
            }
        }

        @include respond-tablet-larger() {
            margin: 0;
            margin-top: 1rem;

            &::after {
                bottom: -3rem;
                left: 50%;
                height: auto;
                transform: translateX(-50%);
                font-size: 3rem;
            }
        }
        @include respond-tablet-medium() {
            font-size: 1.5rem;
            padding: 1rem 1.7rem;
        }
        @include respond-phone-large() {
            font-size: 1.4rem; 
        }
        @include respond-phone-medium() {
            font-size: 1.4rem;
            margin-top: .8rem;
        }
       
    }
}

.cancel-btn {
    &--warn {
        margin-left: 2rem;
    }
}

.contact-btn {
    &--about {
        color: $color-white;
        background: $color-logo;
        font-size: 1.5rem;
    }
}

.create-job-btn {
    color: $color-white;
    background: $color-logo;
    font-size: 1.5rem;
}

.create-user-btn, .create-job-btn {
    color: $color-white;
    background-color: $color-secondary;
    font-size: 1.5rem;
}

.edit-btn {
    &--table {
        display: flex;
        margin-left: auto;
        width: 3rem;
        height: 3rem;
        fill: $color-primary;
        cursor: pointer;
    }
}
.delete-btn {
    &--table {
        display: flex;
        margin-left: auto;
        width: 3rem;
        height: 3rem;
        fill: $color-secondary;
        cursor: pointer;

    }
    &--warn {
        color: $color-white;
        background-color: $color-secondary;
    }
}
.cv-btn {
    &--table {
        display: flex;
        width: 4rem;
        height: 4rem;
        fill: $color-logo;
        cursor: pointer;
    }
}
.hubspot-add-btn {
    display: flex;
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    fill: $color-secondary;
    cursor: pointer;
}