.job-card {
    display: flex;
    flex-direction: column;
    // Width matches grid col width
    width: 100%;
    height: 33rem;

    
    @supports not (display: grid) {
        margin-top: 2rem;
    }

    background-color: white;
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

    &--featured {
        width: 65rem;
        height: $height-job-card--featured;

        @include respond-desktop-larger() {
            width: 63rem;
        }

        @include respond-desktop-small() {
            width: 58rem;
            height: 29rem;
        }

        @include respond-desktop-smaller() {
            width: 54rem;
            height: 27rem;
        }

        // Below this size the layout changes from 1x2 to 2x1 (flex-direction column in container)
        @include respond-tablet-larger() {
            // Reset back to original sizes
            width: 65rem;
            height: $height-job-card--featured;
        }

        @include respond-tablet-medium() {
            width: 90%;
        }

        @include respond-tablet-small() {
            height: 31rem;
        }
        
        @include respond-phone-larger() {
            height: 38rem;
        }

        &-last {
            @include respond-desktop-medium() {
                display: none;
            }
            // @include respond-tablet-large() {
            //     display: flex;
            // }
        }
    }

    &--details {
        height: 18rem;

        &:not(:first-of-type) {
            margin-top: 1.5rem;
        }
    }
    
    &__title {

        &-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content:  space-between;
            height: 5.5rem;
            margin-top: 2.5rem;
            margin-bottom: .8rem;
            padding: 0 3.5rem;

            &--details {
                margin-top: 1.5rem;
                height: 5rem;
            }
            &--featured {
                @include respond-desktop-small() {
                    height: 4.5rem;
                }
                @include respond-desktop-smaller() {
                    height: 4.2rem;
                    margin-top: 2rem;
                }

                // Below this size, change to 1x2 to 2x1
                @include respond-tablet-larger() {
                    // Reset back to original sizes
                    height: 5.5rem;
                    margin-top: 2.5rem;
                }
            
            }
        }

        color: $color-secondary;
        font-weight: 400;
        font-size: var(--job-card-title);  


        &--featured {
            font-size: 2rem;

            @include respond-desktop-small() {
                font-size: 1.8rem;
            }
            @include respond-tablet-larger() {
                font-size: 2rem;
            }
        }
        &--list {
            font-size: 1.9rem;
        }
    }

    &__pin {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        fill: $color-logo;

        &:hover {
            fill: rgb(231, 231, 63);
        }

        &--featured {
            width: 1.8rem;
            height: 1.8rem;
        
            @include respond-desktop-larger() {
                width: 1.7rem;
                height: 1.7rem;
            }

        }

        &--details {
            // padding: 2rem;
            margin: 3rem 3rem 0 0;

        }
    }

    &__content-wrapper {
        display:flex;
        flex-direction: row;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 4rem;
        flex-grow: 1;

 
    }

    &__wage {
        display: flex;
        align-items: center;

        color: $color-text-primary;
        font-size: var(--job-card-wage);
        font-weight: 400;
        margin-bottom: .5rem;

        &-icon {
            display: flex;
            height: 1.6rem;
            width: 1.6rem;
            margin-left: .2rem;
            margin-right: 1.7rem;
            fill: rgb(44, 44, 44);
        }
        &--featured {
            font-size: var(--job-card-wage--featured);
            @include respond-desktop-small() {
                font-size: 1.6rem;
            }
            @include respond-tablet-larger() {
                font-size: var(--job-card-wage--featured);
            }
        }
    }
    &__location {
        display: flex;
        align-items: center;

        font-size: var(--job-card-location);
        font-weight: 400;
        color: $color-text-primary;
        margin-bottom: .5rem;

        &-icon {
            height: 2rem;
            width: 1.9rem;
            margin-right: 1.5rem;

        }

        &--featured {
            font-size: var(--job-card-location--featured);
            @include respond-desktop-small() {
                font-size: 1.6rem;
            }
            @include respond-tablet-larger() {
                font-size: var(--job-card-wage--featured);
            }
        }
    }
    &__extra {
        display: flex;
        align-items: flex-start;
        font-size: var(--job-card-extra);
        font-weight: 400;
        color: $color-text-primary;
        margin-bottom: 2rem;

        &-wrapper {
            display: flex;

            @include respond-phone-larger() {
                flex-direction: column;
            }
        }

        &--details {
            margin-bottom: 1rem;
        }

        &-icon {
            height: 2rem;
            width: 2rem;
            margin-right: 1.5rem;
        }

        &--featured {
            font-size: var(--job-card-extra--featured);

            @include respond-desktop-small() {
                margin-bottom: 1.3rem;
                font-size: 1.6rem;
            }
            @include respond-tablet-larger() {
                margin-bottom: 2rem;
                font-size: var(--job-card-wage--featured);
            }
        }
    }
    &__position, &__PQE {
        margin-left: 2rem;

        @include respond-phone-larger() {
            margin-left: 0;
        }
    }

    &__description {
        font-size: var(--job-card-content);
        font-weight: 400;
        line-height: 2.4rem;
        color: rgb(54, 54, 54);

        // Clamp @ the 2nd line
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        &--featured {
            @include respond-desktop-small() {
                font-size: 1.4rem;
            }
            @include respond-tablet-larger() {
                font-size: var(--job-card-content);
            }
            @include respond-tablet-small() {
                display: none;
            }
        }
    }

    &__footer {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 3rem;
        padding-bottom: 3rem;
        padding-right: 4rem;

        @include respond-desktop-smaller() {
            padding-bottom: 2.5rem;
        }
        @include respond-tablet-larger() {
            padding-bottom: 3rem;
        }
        @include respond-tablet-small() {
            flex-direction: column;
            align-items: flex-start;
        }

    }
    &__btn-wrapper {
        display: flex;
        align-self: flex-end;
        align-items: center;
        &--list {
            margin-right: 3rem;
        }
        @include respond-tablet-small() {
            flex-direction: column;
            align-items: flex-start; 
            align-self: flex-start;
            width: 100%;
            margin-left: 1rem;
        }
    }

    &__view-btn, &__apply-btn {
        display: block;
        padding: 1.2rem 2rem;
        background-color: white;
        border: 1px solid lightgrey;
        font-size: var(--base-size);
        cursor: pointer;

        @include respond-desktop-small() {
            padding: .72rem 1.2rem;
            font-size: 1.2rem;
        }
        @include respond-tablet-larger() {
            padding: 1.2rem 2rem;
            font-size: 1.3rem;
        }
        @include respond-tablet-small() {
            width: 100%;
        }

        &--details {
            font-size: 1.3rem;
            padding: 1.2rem 1.5rem;
        }
    }
    &__apply-btn{ 
        margin-left: 2rem; 
        @include respond-tablet-small() {
            margin-left: 0;
            margin-top: .5rem;
        }
    }

    &__date {
        font-size: 1.4rem;
        @include respond-desktop-small() {
            font-size: 1.3rem;
        }
        @include respond-tablet-larger() {
            font-size: 1.4rem;
        }
        @include respond-tablet-small() {
            margin-left: 1rem;
            margin-top: 1.5rem;
        }
    }
    
}

