.job-details {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 0;
    left: 0;
    z-index: 100;

    &__content {
        // Flex layout set in page-grids.scss
        height: 100%;
        width: 100%;
        background-color: rgb(245, 247, 250);
    }

    &__table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        border: none;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    }

    &__featured-jobs {
        display: flex;
        flex-direction: column;

        // margin-left: 7rem;

        // @include respond-desktop-medium() {
        //     margin-left: 2rem;
        // }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // border-bottom: 1px solid #d4d4d5;
        // padding-bottom: 1.3rem;
        background-color: white;
    }

    &__back { margin-bottom: 5rem; }
    &__back-btn, &__close-btn {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom: 2.5rem;
        margin-right: .5rem;
        margin-left: 3rem;
        margin-top: 3rem;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__close-btn { margin-top: 1rem; margin-right: 1rem; background-color: white;}

    &__back-svg, &__close-svg {
        height: 2.3rem;
        width: 2.3rem;
    }
    
    &__back-text {
        margin-left: .5rem;
        font-size: 1.7rem;
        // transform: translateY(1px);
    }

    &__title {
        padding: 3.5rem 4rem;
        font-size: 2.2rem;
        color: $color-secondary;
        background-color: white;
    }
  
    &__row {
        display: flex;
        justify-content: space-between;
        padding: 1.8rem 7rem;
        background-color: rgb(249, 250, 251);
        font-size: 1.7rem;


        &:nth-child(odd) {
            background-color: white;
        }

        &--btns {
            justify-content: flex-start;
            align-items: baseline;
            padding: 2.5rem 6rem;
        }
        
    }
    &__label {
        // color: grey;
        // font-weight: 700;
    }
    &__value {
        flex-basis: 70%;
    }
    &__btn {
        background-color: white;
        border: 1px solid $color-logo;

        &:first-of-type {
            margin-right: 3.5rem;
        }
    }
    &__sign-in-text {
        font-size: 1.6rem;
    }
    &__sign-in-btn {
        font-size: 1.6rem;
        background-color: white;
        color: $color-secondary;
        cursor: pointer;
    }
}
