.job-card {
    // Featured job card width set explicitly on landing page
    &--featured {
        width: 43rem;
        height: 41rem;

        @include respond-desktop-medium() {
            width: 38rem;
            // height: 37rem;
        }
        @include respond-desktop-small() {
            width: 43rem;
            height: 41rem;
        }
        @include respond-desktop-vsmall() {
            width: 38rem;
        }

        @include respond-tablet-small() {
            width: 45rem;
            height: 38rem;
            &:not(:last-of-type) {
                margin-bottom: 5rem;
            }
        }

        &-last {
            @include respond-desktop-small() {
                display: none;
            }
            @include respond-tablet-small() {
                display: flex;
            }
        }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 36rem; // For 3 cards
    height: 45rem;

    
    @supports not (display: grid) {
        margin-top: 2rem;
    }

    background-color: white;
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    
    &__title {

        &-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content:  space-between;
            height: 5.5rem;
            margin-top: 2.5rem;
            padding-left: 2rem;

            background-color: $color-primary;

        }

        color: white;
        font-weight: 400;
        font-size: var(--job-card-title);  

        &::before {
            position: absolute;
            content: '';
            left: -4px;
            top: 0;
            height: 100%;
            width: 4px;
            background-color: $color-primary;
        }

        &--featured {
            font-size: var(--job-card-title--featured);
        }
    }

    &__pin {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        fill: $color-secondary-highlight;

        &:hover {
            fill: rgb(231, 231, 63);
        }

        &--featured {
            width: 1.8rem;
            height: 1.8rem;

            @include respond-desktop-large() {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }



    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1.5rem;

        flex-grow: 1;
    }

    &__wage {
        margin: 0 0 2.5rem 1.8rem;
        padding-left: .2rem;
        color: $color-secondary;
        font-size: var(--job-card-wage);
        font-weight: 700;

        &--featured {
            margin: 0 0 2.3rem 1.8rem;
            font-size: var(--job-card-wage--featured);
        }
    }
    &__location {
        padding-left: .2rem;
        margin: 2.2rem 0 .8rem 1.8rem;
        font-size: var(--job-card-location);
        font-weight: 700;
        color: $color-secondary;

        &--featured {
            margin: 1.7rem 0 .8rem 1.8rem;
            font-size: var(--job-card-location--featured);
        }
    }
    &__description {
        padding-left: 1rem;
        padding-right: 2.4rem;
        margin-left: 1rem;
        border-left: 1px solid $color-primary;
        font-size: var(--job-card-content);
        font-weight: 400;
        line-height: 2.4rem;
        color: rgb(54, 54, 54);

        &--featured {
            font-size: var(--job-card-content--featured);
        }
    }

    &__footer {
        height: 6rem;
        width: 100%;
        padding-left: 1.5rem;
    }

    &__view-btn {
        display: block;
        padding: 1.3rem 2rem;
        background-color: $color-primary;
        color: white;
        font-size: var(--base-size);
    }
}

