.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin: 2rem 0;

    fill: $color-secondary;
    transform-origin: 44% 50%;

    animation: rotate 1.5s infinite linear;

    &--jobs-menu {
      fill: $color-secondary-highlight;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0); 
    }
    100% {
      transform: rotate(360deg); 
    } 
}