.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba($color-logo, 0.8);
    z-index: 100;


}

.login, .user-form, .job-form, .create-job {
    &__content {
        background-color: white;
        padding: 20rem 15rem;
    }
    &__title {
        font-size: 2.2rem;
        color: $color-secondary;
    }
    &__field {
        display: flex;
        flex-direction: column;
    }
}

.warn {
    &__content {
        background-color: white;
        padding: 5rem 5rem;
    } 
    &__message {
        font-size: 2rem;
        color: $color-secondary;
    }
    &__controls {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
    }
}