.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-logo, 0.8);

    &:not(.job-details) {
        background-color: rgba($color-logo, 0.8);
    }
    z-index: 100;
}


.job-notification {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem var(--page-padding--m);
    background-color: $color-logo;
    color: $color-white;
    font-size: 1.6rem;

    &__item {
        // padding: 0 2rem;
    }
    &__title {
        margin-left: 1rem;
    }
    &__header {
        display: flex;
        align-items: center;
    }
    &__icon {
        fill: $color-secondary-highlight;
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem;
    }
}

.chatbox {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    width: 24rem;
    margin-left: 1.5rem;

    border: 1px solid lightgray;
    border-radius: 1.5rem 1.5rem 0 0;
    border-bottom: none;
    background-color: $color-logo;
    font-size: 1.6rem;
    z-index: 10;



    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $color-white;
        padding: 1.3rem 2.5rem;
        cursor: pointer;

    }
    &__close-icon {
        width: 2rem;
        height: 2rem;
        fill: white;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: 0;
        width: 100%;
        background-color: $color-background;
    }
    &__signup {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        display: none;
        flex-direction: column;


        padding: 3rem 4rem;
        background-color: rgba($color-background, 0.7);

        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
        }
        &-label {
            color: $color-secondary;
            margin-bottom: .5rem;
        }
        &-input {
            padding: .4rem;
        }
        &-submit {
            padding: .8rem;
            margin-top: auto;
            background-color: $color-logo;
            color: $color-white;
            cursor: pointer;
        }
    }

    &__history {
        display: flex;
        flex-direction: column-reverse;
        flex-basis: 100%;
        padding: 1rem 2rem;
        overflow-y: auto;
    }
    &__bubble {
        display: inline-flex;
        padding: 1rem 2rem;
        border-radius: 1rem;
        margin-top: 1rem;
        &--client {
            align-self: flex-end;
            background-color: $color-primary;
            color: white;
        }
        &--server {
            background-color: $color-secondary-highlight;
        }
    }

    &__form {
        display: flex;
        height: 3.2rem;
        border: none;
        border-top: 1px solid lightgray;
    }
    &__input {
        padding: 1rem;
        flex-grow: 1;
        border: none;
    }
    &__submit-icon {
        width: 4rem;
        height: 100%;
        padding: .3rem;
        border-left: 1px solid lightgray;
        fill: $color-logo;
        cursor: pointer;
    }
}

.register, .request, .forgot-password, .user-form, .job-form, .create-job {
    &__content {
        background-color: white;
        padding: 20rem 15rem;
    }
    &__title {
        font-size: 2.2rem;
        color: $color-secondary;
    }
    &__field {
        display: flex;
        flex-direction: column;
    }
}

.login {
    &__content, &__content--apply {
        display: flex;
        flex-direction: column;
        width: 55rem;
        padding: 5rem 5rem 5rem 5rem;
        background-color: rgb(245, 247, 250);
        border-radius: 5px;
    }
    &__header, &__header--apply {
        display: flex;
        justify-content: space-between;
    }
    &__header--apply {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        // flex-direction: column;
    }
    &__title, &__title--apply {
        font-size: 2.2rem;
        color: $color-secondary;
    }
    &__title:not(&__title--apply){
        margin-bottom: 4rem;
    }
    &__subtitle--apply {
        font-size: 1.4rem;
    }
    &__cancel-btn, &__cancel-btn--apply {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.53rem;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__cancel-svg, &__cancel-svg--apply {
        height: 2.5rem;
        width: 2.5rem;
    }
    &__form, &__form--apply {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        background-color: white;
    }
    &__field, &__field--apply {
        display: flex;
        flex-direction: column;
    }

    &__label, &__label--apply {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }
    &__input, &__input--apply {
        padding: .5rem .5rem;
    }
    &__field, &__field--apply {
        margin-bottom: 1rem;
    }
    &__submit, &__submit--apply {
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-white;
        background-color: $color-logo;
    }
    &__forgot-password, &__forgot-password--apply {
        display: inline-block;
        align-self: flex-end;
        margin-top: 2rem;

        cursor: pointer;
        font-size: 1.6rem;
        color: $color-secondary;
    }

    &__register-wrapper, &__register-wrapper--apply {
        display: flex;
        align-items: baseline;
        align-self: flex-end;
        margin-top: 2rem;

        font-size: 1.6rem;
    }

    &__register-link, &__register-link--apply {
        cursor: pointer;
        font-size: 1.6rem;
        padding: 0;
        background-color: white;
        color: $color-secondary;
    }
}

.apply {
    &__content {
        display: flex;
        background-color: $color-background;
    }

    &__divider {
        align-self: center;
        font-size: 1.8rem;
    }
    &__btn-wrapper {
        height: 100%;
    }
    &__cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        margin: 1rem 1rem 0 0;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__cancel-svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}
.request {
    
    display: flex;
    flex-direction: column;
    width: 50rem;
    border-radius: 5px;

    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 4rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        background-color: white;

    }
    &__label {
        position: relative;
        display: inline;
        font-size: 1.4rem;
        margin-bottom: .8rem;
       
        // the CV label is actually styled as the button
        &--cv {
            padding: 1rem 2rem;
            background-color: $color-secondary-highlight;
            color: white;
            cursor: pointer;
        }
        // Required asterisk 
        &:not(&--cv):not(&--dummy){
            &::after {
                position: absolute;
                content: '\204E';
                top: -.8rem;
                right: -1.5rem;
                color: $color-secondary;
            }
        }
       
    }
    &__input {
        width: 100%;
        padding: .5rem .5rem;

        &--cv {
            position: absolute;
            left: -9999px;

        }
        &-path {
            font-size: 1.4rem;
            margin-left: 2rem;
        }
    }
    &__field {
        display: flex;
        align-items: flex-start;

        margin-bottom: 1rem;

        &--cv {
            flex-direction: column;
            // justify-content: space-between;
            align-items: baseline;
            margin-top: 1rem;
        }
    }
    &__file-picker {
        display: flex;
        align-items: baseline;
    }
    &__submit {
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-white;
        background-color: $color-logo;
    }

}

.register {
    &__content {
        display: flex;
        flex-direction: column;
        width: 55rem;
        padding: 5rem 5rem 5rem 5rem;
        background-color: rgb(245, 247, 250);
        border-radius: 5px;
    }
    &__cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__cancel-svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        background-color: white;
    }

    &__label {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }
    &__input {
        padding: .5rem .5rem;
    }
    &__field {
        margin-bottom: 1rem;
    }
    &__register-btn{
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-white;
        background-color: $color-logo;
    }
    &__sign-in-wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        align-self: flex-end;
        margin-top: 2rem;

        font-size: 1.6rem;
    }

    &__sign-in-btn {
        cursor: pointer;
        align-self: flex-end;
        font-size: 1.6rem;
        margin-top: .5rem;
        padding: 0 .5rem 0 0 ;
        background-color: white;
        color: $color-secondary;
    }
}

.forgot-password {
    &__content {
        display: flex;
        flex-direction: column;
        width: 55rem;
        padding: 5rem 5rem 5rem 5rem;
        background-color: rgb(245, 247, 250);
        border-radius: 5px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 4rem;
    }
    &__cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__cancel-svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 4rem 5rem 5rem 5rem;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        background-color: white;
    }

    &__label {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }
    &__input {
        padding: .5rem .5rem;
    }
    &__field {
        margin-bottom: 1rem;
    }
    &__register-btn{
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-white;
        background-color: $color-logo;
    }


    &__submit {
        cursor: pointer;
        font-size: 1.6rem;
        margin-top: .5rem;
        background-color: $color-logo;
        color: $color-white;
    }

    &__message {
        display: flex;
        margin-top: 2rem;

        font-size: 1.6rem;
    }
}

.job-form, .user-form {
    &__content {
        display: flex;
        flex-direction: column;
        width: 55rem;
        padding: 5rem 5rem 5rem 5rem;
        background-color: rgb(245, 247, 250);
        border-radius: 5px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
  
    &__title {
        font-size: 2.2rem;
        color: $color-secondary;
        margin-bottom: 4rem;

    }
 
    &__cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.53rem;
        background-color: rgb(245, 247, 250);
        cursor: pointer;
    }
    &__cancel-svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        background-color: white;
    }
    &__field {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }
    &__input {
        padding: .5rem .5rem;

        &--description {
            height: 10rem;
            font-family: inherit;
            line-height: auto;
        }
    }
    &__field {
        margin-bottom: 1rem;
    }
    &__submit {
        width: 100%;
        padding: 1rem 2rem;
        margin-top: 1rem;
        color: $color-white;
        background-color: $color-logo;
        cursor:pointer;
    }


}


.warn {
    &__content {
        background-color: white;
        padding: 5rem 5rem;
    } 
    &__message {
        font-size: 2rem;
        color: $color-secondary;
    }
    &__controls {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
    }
}