// Component: Deal with dimensions in the container.
.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // height: 100%;
    // padding-bottom: .5rem;
}

.nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @include respond-phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    
    &--social {
        display: flex;
        justify-content: flex-end;
        margin-bottom: .5rem;
    }

    &__link { 
        @include respond-phone {
            height: auto;
            width: 100%;
        }

        &--social {
            padding: 0 1rem;
        }
        &--last {
            padding: 0 2rem 0 .8rem;
        }
    }
    &__line {
        height: 2px;
        background-color: $color-secondary-highlight;
    }

    &__facebook-icon,
    &__twitter-icon,
    &__linkedin-icon,
    &__instagram-icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: $color-secondary-highlight;
    }

    &__a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: .8rem 2rem 1rem 2rem;
        color: rgb(221, 221, 221);
        // color: $color-primary-new;
        z-index: 1;

        // &::before {
        //     position: absolute;
        //     content: '';
        //     bottom: 0;
        //     left: 10%;
        //     width: 80%;
        //     height: 1px;
        //     background-color: $color-secondary-highlight;
        //     transition: width .3s ease-out;
        // }

        // &:hover::before {
        //     width: 80%;
        // }

        @include respond-phone {
            color: white;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0px;
                background-color: $color-secondary;
                transition: none;

            }

            &:hover::before {
                height: 100%;
                width: 100%;

                z-index: -1;
            }
        }
    }
}

