.table {

    &--jobs,
    &--users,
    &--companies,
    &--applications,
    &--company-jobs,
    &--nested-user-jobs {
        width: 100%;
    }
}

.cv-wrapper {
    display: flex;
    height: 3.6rem;
    width: 4rem;
}
thead, tbody {
    display: table-row-group;
}
th, td {
    display: table-cell;
    text-align: left;
    text-transform:initial;
}

// TABLE HEADS
// Widths of THs have to match max-widths of tds for ellipsis overflow to work

th {
    font-size: 1.5rem;
    font-weight: 400;
}
td {
    padding: 0 var(--thead-padding);
}

.thead--jobs, .thead--applications, .thead--companies, .thead--company-jobs {
    & th {
        padding: var(--thead-padding);
    }
}

//// JOBS TABLE
.thead--jobs {


    & .th--id {
        width: 10rem;
        padding: 0 3rem;
    }
    & .th--company {
        width: 20rem;
    }
    & .th--title {
        width: 22rem;
    }
}

.table--jobs {
    & .td-data {
        &--jobId {
            width: 2.5rem;
            padding: 0 3rem;

        }
        &--company {
            max-width: 20rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &--title {
            max-width: 25rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &--location {
            max-width: 10rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

// Set max cell widths
.table--applications {
    & .td-data--first-name {
        max-width:12rem;
        width:12rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--last-name {
        max-width:15rem;
        width:15rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--position {
        max-width:18rem;
        width: 18rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--company {
        max-width:18rem;
        width: 18rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--cv {
        position: relative;
    }
}


// table, thead, tbody, th, td, tr {
//     display: block;
// }

thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

table {
    border-collapse: collapse;
}



tbody tr:nth-child(odd) {
    background-color: rgb(249, 250, 251);
}

thead tr {
    padding-top: 0;
    background-color: white;
}

th, td {
    // padding: .8rem 1rem;
}

td::before {
    white-space: nowrap;
    font-weight: bold;
}

td:nth-of-type(1)::before {
    content: "Name: "
}
td:nth-of-type(2)::before {
    content: "Email: "
}
td:nth-of-type(3)::before {
    content: "Phone: "
}
td:nth-of-type(4)::before {
    content: "Handicap: "
}
td:nth-of-type(5)::before {
    content: "Rounds completed (9): "
}
td:nth-of-type(6)::before {
    content: "Rounds completed (18): "
}
td:nth-of-type(7)::before {
    content: "Best score (9): "
}
td:nth-of-type(8)::before {
    content: "Best score (18): "
}



@media (min-width: 600px) {
    thead tr {
        position: static;
        color: white;
        background-color: $color-primary-new;
    }
    .thead {
        &--applications tr, &--company-jobs tr, &--nested-user-jobs tr,
        &--jobs tr, &--companies tr {
            background-color: white;
            color: $color-secondary;
            font-size: 1.2rem;
        }
        
    }

    // .table--applications .td-data--applicationId {
    //     padding: 2rem 1rem 2rem 2.5rem;
    // }


    .table--applications .th--id {
        width: 8.5rem;
    }
 
    tbody {
        overflow: hidden;
    }

    tr {
        position: relative;
        display: table-row;
        width: 100%;
    }
    table {
        display: table;
    }
    td:nth-of-type(n)::before {
        content: ""
    }
    
}