.table {

    &--jobs,
    &--users,
    &--companies,
    &--applications,
    &--company-jobs, 
    &--user-jobs {
        min-width: 100%;
    }

    &--applications, &--jobs, &--companies, &--company-jobs, &--users, &--user-jobs {
        table-layout: fixed;
        width: 100%;

    }
}

.cv-wrapper {
    display: flex;
    height: 3.6rem;
    width: 4rem;
}
thead, tbody {
    display: table-row-group;
}
th, td {
    display: table-cell;
    text-transform:initial;
}
th {
    position: relative;
}
.th__arrow {
    position: absolute;
    top: 50%;
    // left: var(--row-h-padding);
    display: flex;
    height: 1.2rem;
    width: 1.2rem;
    fill: $color-secondary;

    // &--active {
    //     transform: rotate(90deg);
    // }

    &--applications-id,
    &--applications-name,
    &--applications-surname,
    &--applications-position,
    &--applications-company,
    &--applications-cv,
    &--applications-added,
    &--companies-id,
    &--companies-name,
    &--jobs-id,
    &--jobs-company,
    &--jobs-location,
    &--jobs-featured,
    &--users-id,
    &--users-name,
    &--users-surname,
    &--users-cv
    {    
        transform: translate(calc(-100% - 8px), calc(-50% + 1px));
    }
    &--applications-added,
    &--companies-added,
    &--jobs-added,
    &--users-added{
        // // Place on the right
        // right: var(--row-h-padding);
        // transform: translate(calc(100% + 8px), calc(-50% + 1px)) rotate(90deg);

        // Place on the left
        transform: translate(100%, calc(-50% + 1px));
    }

}


// TABLE HEADS

th {
    font-size: 1.5rem;
    font-weight: 400;

    background-color: white;
    color: $color-secondary;
}

//// USERS TABLE
/// // Headers
.thead--users {
    & th {
        padding-left: var(--thead-h-padding);
        // Set height, not vertical padding (used in visible row calculation)
        height: var(--table-heading-height);
        cursor: pointer;

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--users .th--added) {
            text-align: left;
        }

    }
    & .th--id {
        width: 10rem;

    }
    & .th--cv {
        width: 8rem;
    }
    & .th--name {
        // width: 100%;
    }

    & .th--added {
        width: 13rem;
        text-align: end;
    }
}
.row--users {
    & .td--users {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--name, & .td-data--last-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .td-data--cv {
        padding-left: 1rem;
    }
    & .td-data--added {
        text-align: end;
    }
}

//// USER-JOBS TABLE

.thead--user-jobs {
    & th {
        padding-left: var(--thead-h-padding);
        // Set height, not vertical padding (used in visible row calculation)
        height: var(--table-heading-height);


        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--user-jobs .th--added) {
            text-align: left;
        }

    }

    & .th--id {
        width: 6rem;
    }
    & .th--wage {
        width: 10rem;
    }
    & .th--type {
        width: 12rem;
    }
    & .th--pqe {
        width: 5rem;
    }
    & .th--added {
        width: 13rem;
        text-align: end;
    }
}
.row--user-jobs {
    & .td--user-jobs {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .td-data--location {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .td-data--added {
        text-align: end;
        padding-right: var(--thead-padding);
    }
}

//// COMPANIES TABLE

// Headers
.thead--companies {
    & th {
        padding-left: var(--thead-h-padding);
        // Set height, not vertical padding (used in visible row calculation)
        height: var(--table-heading-height);
        cursor: pointer;

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--companies .th--added) {
            text-align: left;
        }

    }
    & .th--id {
        width: 8rem;

    }

    & .th--name {
        // width: 100%;
    }

    & .th--added {
        width: 13rem;
        text-align: end;
    }
}

// Rows/cells
.row--companies {
    & .td--companies {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--company-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .td-data--added {
        text-align: end;
    }
}

//// COMPANY-JOBS TABLE 
.thead--company-jobs {
    & th {
        padding-left: var(--thead-h-padding);
        // Set height, not vertical padding (used in visible row calculation)
        height: var(--table-heading-height);


        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--company-jobs .th--added) {
            text-align: left;
        }

    }

    & .th--id {
        width: 6rem;
    }
    & .th--wage {
        width: 10rem;
    }
    & .th--added {
        width: 13rem;
        text-align: end;
    }
}
.row--company-jobs {
    & .td--company-jobs {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .td-data--location {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .td-data--added {
        text-align: end;
        padding-right: var(--thead-padding);
    }
}

//// APPLICATIONS TABLE
.thead--applications {
    & th {
        padding-left: var(--thead-h-padding);
        // Set height, not vertical padding (used in visible row calculation)
        height: var(--table-heading-height);
        cursor: pointer;

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--applications .th--added) {
            text-align: left;
        }
    }
    & .th--id {
        width: 10rem;
    }
  
    & .th--cv {
        width: 10rem;
    }
    & .th--added {
        width: 13rem;
        text-align: end;
    }
}


// Rows/cells
.row--applications {
    & .td--applications {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--company,
    & .td-data--title,
    & .td-data--location {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .td-data--added {
        text-align: end;
    }
}

//// JOBS TABLE
.thead--jobs {
    & th {
        padding-left: var(--thead-h-padding);
        height: var(--table-heading-height);
        cursor: pointer;

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
        &:not(.thead--jobs .th--added) {
            text-align: left;
        }
    }

    & .th--id {
        width: 10rem;
        padding: 0 3rem;
    }
    // & .th--company {
    //     width: 20rem;
    // }
    // & .th--title {
    //     width: 22rem;
    // }
    & .th--added {
        width: 13rem;
        text-align: end;
    }
}

// Rows/cells
.row--jobs {
    & .td--jobs {
        padding-left: var(--thead-h-padding);

        &:first-of-type {
            padding-left: var(--row-h-padding);
        }
        &:last-of-type {
            padding-right: var(--row-h-padding);
        }
    }

    & .td-data--company,
    & .td-data--title,
    & .td-data--location {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .td-data--added {
        text-align: end;
    }
}


.thead--applications {
    & th {
        height: var(--table-header-height);
    }
}
// Set max cell widths
.table--applications {
    & .td-data--first-name {
        max-width:12rem;
        width:12rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--last-name {
        max-width:15rem;
        width:15rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--position {
        max-width:18rem;
        width: 18rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--company {
        max-width:18rem;
        width: 18rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .td-data--cv {
        position: relative;
    }
}


// table, thead, tbody, th, td, tr {
//     display: block;
// }

thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

table {
    border-collapse: collapse;
}



tbody tr:nth-child(odd) {
    background-color: rgb(249, 250, 251);
}

thead tr {
    padding-top: 0;
    background-color: white;
}

th, td {
    // padding: .8rem 1rem;
}

td::before {
    white-space: nowrap;
    font-weight: bold;
}

td:nth-of-type(1)::before {
    content: "Name: "
}
td:nth-of-type(2)::before {
    content: "Email: "
}
td:nth-of-type(3)::before {
    content: "Phone: "
}
td:nth-of-type(4)::before {
    content: "Handicap: "
}
td:nth-of-type(5)::before {
    content: "Rounds completed (9): "
}
td:nth-of-type(6)::before {
    content: "Rounds completed (18): "
}
td:nth-of-type(7)::before {
    content: "Best score (9): "
}
td:nth-of-type(8)::before {
    content: "Best score (18): "
}



@media (min-width: 600px) {
    thead tr {
        position: static;
        color: white;
        background-color: $color-primary-new;
    }
    // .thead {
    //     &--applications tr, &--company-jobs tr, &--nested-user-jobs tr,
    //     &--jobs tr, &--companies tr {
    //         background-color: white;
    //         color: $color-secondary;
    //         font-size: 1.2rem;
    //     }
        
    // }

    // .table--applications .td-data--applicationId {
    //     padding: 2rem 1rem 2rem 2.5rem;
    // }


    // .table--applications .th--id {
    //     width: 8.5rem;
    // }
 
    // tbody {
    //     overflow: hidden;
    // }

    // tr {
    //     position: relative;
    //     display: table-row;
    //     width: 100%;
    // }
    // table {
    //     display: table;
    // }
    td:nth-of-type(n)::before {
        content: ""
    }
    
}