.table {
    &--jobs {
        width: 100%;
    }
    &--users {
        width: 100%;
    }
    &--companies {
        width: 100%;
        
    }
}

// caption {
//     text-align: left;
//     padding: 2rem 1rem;
//     font-size: 2.2rem;
//     color: $color-secondary;
// }

table, thead, tbody, th, td, tr {
    display: block;
    font-size: 1.5rem;
}

thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

table {
    border-collapse: collapse;
}



tr {
    // padding: 2rem;
}

tbody tr:nth-child(odd) {
    background-color: rgb(249, 250, 251);
}

thead tr {
    padding-top: 0;
    background-color: white;
}

th, td {
    // padding: .8rem 1rem;
}

td::before {
    white-space: nowrap;
    font-weight: bold;
}

td:nth-of-type(1)::before {
    content: "Name: "
}
td:nth-of-type(2)::before {
    content: "Email: "
}
td:nth-of-type(3)::before {
    content: "Phone: "
}
td:nth-of-type(4)::before {
    content: "Handicap: "
}
td:nth-of-type(5)::before {
    content: "Rounds completed (9): "
}
td:nth-of-type(6)::before {
    content: "Rounds completed (18): "
}
td:nth-of-type(7)::before {
    content: "Best score (9): "
}
td:nth-of-type(8)::before {
    content: "Best score (18): "
}



@media (min-width: 600px) {
    thead tr {
        position: static;
        color: $color-secondary;
    }
    thead, tbody {
        display: table-row-group;
    }
    th, td {
        display: table-cell;
        text-align: left;
        // padding: 2rem 2.5rem;
        text-transform:initial;
    }
    td {
        padding: 2rem 2.5rem;

    }
    th {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 2.5rem 2rem 2.5rem;
    }
    tr {
        position: relative;
        display: table-row;
        width: 100%;
    }
    table {
        display: table;
    }
    td:nth-of-type(n)::before {
        content: ""
    }
    
}