.header {
    --nav-width: 50rem;
    --logo-height: 6rem;

    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 101;

    padding: 0 var(--page-padding--l) 0 var(--page-padding--l);
    &--admin, &--jobs {
        padding: 0 6rem 0 3.5rem;
    }

    font-size: 1.4rem;
    font-weight: 400;
    // box-shadow: (0, 0, 0, 0.5) 0px 0px 5px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;        // background-color: $color-logo;
    background-color: $color-primary-new;

    &__content {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        // align-items: flex-end;
        // align-items: center;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    &__logo {
        width: var(--logo-height);
        height: var(--logo-height);
    }
}

.logo {
    height: var(--logo-height);
    &--svg {
        // fill: $color-primary-new;
        fill: white;
    }
}

// This is also the header__main-menu class (#main-menu is the target)
.main-menu {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    width: var(--nav-width);
    // height: 100%;
    // border:1px solid red;

    // Menu in a fixed position so you can't scroll away from it
    @include respond-phone {
        --nav-width: 20rem;
        position: fixed;
        display: block;
        top: 0;
        left: calc(var(--nav-width) * -1);

        width: var(--nav-width);
        height: 100%;
        // #TODO: GSAP Mobile menu animation
        transition: left .6s ease;
        background-color: rgba(41, 41, 41, 0.986);
    } 
}


.main-menu:target {
    display: block;
    left: 0;
    z-index: 1000;
}

.main-menu:target + .backdrop {
    opacity: 1;
    visibility: visible;

}

.backdrop {
    @include respond-phone {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(41, 41, 41, 0.897);
        cursor: default;
        z-index: 999;
        transition: opacity .6s ease-out;

        opacity: 0;
        visibility: hidden;
    }
}


.menu-toggle {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 6rem;
}

.burger { 
    @include respond-phone {
        display: block;   
        width: 3rem;    
    }
}

// Hide menu toggle and close buttons at desktop sizes
.menu-close, .menu-toggle, .burger, .close  {     
    display: none;
    @include respond-phone {
        display: flex;
    }
}

.close{
    width: 3rem;
    height: 3rem;
    fill: white;
    &:hover {
        background-color: $color-secondary;
    }
}

.menu-close {
    @include respond-phone {
        display: flex;
        justify-content: flex-end;
        margin: .5rem;
    }
}

