.top-bar {

    height: 4rem;
    background-color:rgb(228, 228, 228);
}

.list-view-icon {
    display: flex;
    width: 2rem;
    height: 2rem;
}

.filter-bar {
    --width: 2;
    --initialbasis: calc(var(--width) / var(--columns) * 100%);
    flex-basis: var(--initialbasis);
    min-height: 8rem;
    height: 100%;
    background-color:rgb(228, 228, 228);
}

.side-container {
    --width: 10;
    --initialbasis: calc(var(--width) / var(--columns) * 100%);
    flex-basis: var(--initialbasis);
}

.job-list {
    // Default 18 columns set in base.scss
    --gap-constant: .12%; 

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2.5rem;

}