/* HOME PAGE */

// 16 cols, 2 rows
.why-card__wrapper, .why-us__title {
    --initialbasis: calc(var(--width) / var(--columns) * 100%);
    flex-basis: var(--initialbasis);
}
.why-us__title {
    --width: 16;

    @include respond-desktop-small() {
        --width: 8;
    }
    @include respond-tablet-small() {
        --width: 16;
    }
}
.why-card__wrapper {
    --width: calc(16/3);

    @include respond-desktop-small() {
        --width: 8;
    }
    @include respond-tablet-small() {
        --width: 16;
    }
}

/* JOBS PAGE */
// (16 cols, 2 rows)


.jobs { // .jobs__content is the flex container
    &__topbar,
    &__menu-wrapper,
    &__wrapper,
    &__aside {
        --gap-constant: .12%;
        --gap: calc((var(--columns, 16) - var(--width, 0)) * var(--gap-constant, 0.3%));

        --initialbasis: calc(var(--width) / var(--columns) * 100%);
        flex-basis: calc(var(--initialbasis) - var(--gap));
    }

    &__topbar {
        --width: 16;    
    }
    &__menu-wrapper {
        --width: 2.5;
    }
    &__wrapper {
        --width: 9.5;
    }
    &__aside {
        --width: 3.5;
    }
}